<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ingredients List</title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<!-- Górne menu -->
<nav class="topbar">
  <div class="menu">
    <a href="http://localhost:8080/recipes/search?categoryName=preferences">SZYBKIE WYSZUKIWANIE</a>
    <a href="http://localhost:8080/recipes/search?categoryName=meal">DANIE</a>
    <a href="http://localhost:8080/recipes/search?categoryName=kitchen">REGION</a>
    <a href="http://localhost:8080/recipes">SZUKAJ PO SKŁADNIKACH</a>
  </div>
  <div class="icon-container">
    <img src="https://img.icons8.com/ios-filled/50/ffffff/kitchen.png" alt="Kitchen Icon"/>
  </div>
</nav>

<h1>Opinions for <span th:text="${recipeName}"></span></h1>

<div th:if="${#lists.isEmpty(opinionsList)}">
  <p>No opinions found.</p>
</div>

<table>
  <thead>
  <tr>
    <th>Rate</th>
    <th>Description</th>
    <th>Author</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="opinion : ${opinionsList}" th:attr="onclick='window.location.href=\'/opinions/' + ${opinion.id} + '\''">
    <td th:text="${opinion.rating.stars}"></td>
    <td th:text="${opinion.description}"></td>
    <td th:text="${opinion.author}"></td>
  </tr>
  </tbody>
</table>
<br>
<button th:onclick="|window.location.href='/recipes/${recipeId}'|">
  Go back
</button>
</body>
</html>
