<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <link rel="stylesheet" type="text/css" href="/css/menu.css">
    <link rel="icon" href="https://img.icons8.com/ios-filled/50/ffffff/kitchen.png" type="image/png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>

<!-- Górne menu -->
<nav class="topbar">
    <div class="menu">
        <a href="http://localhost:8080/recipes/search?categoryName=preferences">SZYBKIE WYSZUKIWANIE</a>
        <a href="http://localhost:8080/recipes/search?categoryName=meal">DANIE</a>
        <a href="http://localhost:8080/recipes/search?categoryName=kitchen">REGION</a>
        <a href="http://localhost:8080/recipes">SZUKAJ PO SKŁADNIKACH</a>
    </div>
    <div class="icon-container">
        <img src="https://img.icons8.com/ios-filled/50/ffffff/kitchen.png" alt="Kitchen Icon"/>
    </div>
</nav>

<!-- Centrum strony z wyszukiwarką -->
<div class="center-content">
    <h1>Wyszukaj przepis</h1>
    <form class="search-box" action="/recipes/search" method="get">
        <input type="text" name="name" placeholder="Wpisz nazwę przepisu..." />
        <button type="submit">Szukaj</button>
    </form>
</div>

<div th:if="${#lists.isEmpty(recipes)}">
    <p>No recipes found.</p>
</div>

<div class="section-content">
    <h1>Najnowsze przepisy</h1>
</div>


<div class="recipes-grid">
    <div class="recipe-card" th:each="recipe : ${recipes}" th:onclick="'window.location.href=\'/recipes/' + ${recipe.id} + '\''">
        <img src="https://img.icons8.com/ios-filled/230/f5f5f5/meal.png"
             alt="Recipe image" class="recipe-image"/>
        <h3 th:text="${recipe.recipeName}">Nazwa przepisu</h3>

        <div class="stars">
            <i th:each="i : ${#numbers.sequence(1, 5)}"
               th:classappend="${i <= recipe.avgRating} ? 'fa-solid fa-star' : 'fa-regular fa-star star-empty'"></i>
        </div>

        <div class="details">
            <div class="time">
                <img src="https://img.icons8.com/ios-filled/24/000000/time.png" alt="czas"/>
                <span th:text="${recipe.preparationTime + ' min'}">30 min</span>
            </div>
            <div class="difficulty" th:text="${recipe.difficulty.symbol}">🟢</div>
        </div>
    </div>
</div>

</body>
</html>