<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Add recipe</title>
  <script src="/js/adding_recipe_script.js" type="text/javascript"></script>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>

<h1 th:if="${isEdit}">Edit opinion</h1>
<h1 th:unless="${isEdit}">Add opinion</h1>

<!--<form th:action="${isEdit} ? @{/opinion/update} : @{/opinion/add}" th:object="${opinion}" method="post">-->
<form th:action="@{/opinions/add}" th:object="${opinion}" method="post">

  <input type="hidden" th:field="*{id}" />
  <input type="hidden" name="recipeId" th:value="${recipeId}" />

  <label for="rating">Rate recipe:</label>
  <div id="rating" class="star-rating">
    <input type="radio" id="star5" name="rating" value="FIVE_STARS" th:checked="${opinion.rating?.name() == 'FIVE_STARS'}" />
    <label for="star5">&#9733;</label>

    <input type="radio" id="star4" name="rating" value="FOUR_STARS" th:checked="${opinion.rating?.name() == 'FOUR_STARS'}" />
    <label for="star4">&#9733;</label>

    <input type="radio" id="star3" name="rating" value="THREE_STARS" th:checked="${opinion.rating?.name() == 'THREE_STARS'}" />
    <label for="star3">&#9733;</label>

    <input type="radio" id="star2" name="rating" value="TWO_STARS" th:checked="${opinion.rating?.name() == 'TWO_STARS'}" />
    <label for="star2">&#9733;</label>

    <input type="radio" id="star1" name="rating" value="ONE_STAR" th:checked="${opinion.rating?.name() == 'ONE_STAR'}" />
    <label for="star1">&#9733;</label>
  </div>


  <label for="description">Type in your opinion:</label>
  <input type="text" id="description" th:field="*{description}" required>

  <label for="author">Author:</label>
  <input type="text" id="author" th:field="*{author}" required>

  <p><strong>On recipe:</strong> <span th:text="${recipeName}"></span></p>

  <button type="submit" th:if="${isEdit}">Dodaj</button>
  <button type="submit" th:unless="${isEdit}">Zapisz zmiany</button>

</form>

</body>
</html>