<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ingredients List</title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<h1>Opinions List for <span th:text="${recipeName}"></span></h1>

<div th:if="${#lists.isEmpty(opinionsList)}">
  <p>No opinions found.</p>
</div>

<table>
  <thead>
  <tr>
    <th>Author</th>
    <th>Rate</th>
    <th>Description</th>
    <th>See full opinion</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="opinion : ${opinionsList}">
    <td th:text="${opinion.author}"></td>
    <td th:text="${opinion.rate}"></td>
    <td th:text="${opinion.description}"></td>

    <td>
      <button th:attr="onclick='window.location.href=\'/opinions/opinion/' + ${opinion.id} + '\''">
        See opinion
      </button>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>
