<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Opinion</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
<input type="hidden" id="opinionId" th:value="${opinion.id}">
<p><strong>Author:</strong> <span th:text="${opinion.author}"></span></p>
<p><strong>Description:</strong> <span th:text="${opinion.rate}"></span></p>
<p><strong>Portions amount:</strong> <span th:text="${opinion.description}"></span></p>
<p><strong>On recipe:</strong> <span th:text="${opinion.recipe.recipeName}"></span></p>


<br>
<br>
<!--<button th:attr="onclick='window.location.href=\'/recipes/update/' + ${recipe.id} + '\''">-->
<!--  Edytuj przepis-->
<!--</button>-->

<!--<button th:attr="onclick='if(confirm(\'Are you sure you want to delete this recipe?\')) window.location.href=\'/recipes/delete/' + ${recipe.id} + '\''">-->
<!--  Usuń przepis-->
<!--</button>-->

<!--<button onclick="window.location.href='/opinions/all'">-->
<!--  Zobacz wszystkie opinie-->
<!--</button>-->

</body>
</html>
