<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add recipe</title>
    <script src="/js/adding_recipe_script.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>

<h1 th:if="${isEdit}">Edit recipe</h1>
<h1 th:unless="${isEdit}">Add recipe</h1>

<form th:action="${isEdit} ? @{/recipes/update} : @{/recipes/add}" th:object="${recipe}" method="post" onsubmit="beforeSubmit()">

    <input type="hidden" th:field="*{id}" />

    <label for="recipeName">Recipe name:</label>
    <input type="text" id="recipeName" th:field="*{recipeName}" required>

    <label for="recipeDescription">Description:</label>
    <input type="text" id="recipeDescription" th:field="*{recipeDescription}" required>

    <!--    ingredients-->

    <label for="ingredientSelect">Składniki:</label>
    <select id="ingredientSelect">
        <option value="" disabled selected>--Wybierz z listy--</option>
        <option th:each="ingredient : ${allIngredients}"
                th:value="${ingredient.id}"
                th:text="${ingredient.ingredientName}">
        </option>
    </select>

    <label for="ingredientQuantity">Ilość:</label>
    <input type="number" id="ingredientQuantity" min="1" value="1">

    <button type="button" onclick="addIngredient()">Dodaj składnik</button>

    <ul id="selectedIngredients">
        <li th:each="recipeIngredient : ${recipe.recipeIngredients}"
            th:id="'ingredient-' + ${recipeIngredient.ingredient.id}">
            <span id="ingredientName" th:text="${recipeIngredient.ingredient.ingredientName}"></span>
            <span id="quantity" th:text="' - ilość: ' + ${recipeIngredient.quantity}"></span>
            <button type="button" th:attr="onclick='removeIngredient(' + ${recipeIngredient.ingredient.id} + ')'">X</button>
        </li>
    </ul>

    <!-- Ukryte inputy do wysyłania składników -->
    <div id="ingredientsContainer">
        <input type="hidden" name="ingredientMap" id="ingredientMap" value="{}">
    </div>

    <!--    tag-->
    <label for="tagSelect">Tags:</label>
    <select id="tagSelect">
        <option value="" disabled selected>--Wybierz z listy--</option>
        <option th:each="tag : ${allTags}" th:value="${tag.id}" th:text="${tag.tagName}"></option>
    </select>
    <button type="button" onclick="addTag()">Dodaj tag</button>

    <ul id="selectedTags">
        <li th:each="tag : ${recipe.recipeTags}" th:id="'tag-' + ${tag.id}">
            <span th:text="${tag.tagName}"></span>
            <button type="button" th:attr="onclick='removeTag(' + ${tag.id} + ')'">X</button>
        </li>
    </ul>

    <!-- Hidden inputs for tag sending -->
    <div id="tagsContainer">
        <input type="hidden" th:each="tag : ${recipe.recipeTags}" th:name="recipeTags" th:value="${tag.id}">
    </div>

    <label for="amountOfPortions">Portions:</label>
    <input type="text" id="amountOfPortions" th:field="*{amountOfPortions}" required>

    <label for="preparationTime">Preparation time:</label>
    <input type="text" id="preparationTime" th:field="*{preparationTime}" required>

    <label for="difficulty">Difficulty:</label>
    <select id="difficulty" th:field="*{difficulty}">
        <option th:each="difficulty : ${T(com.example.recipes.enums.Difficulty).values()}" th:value="${difficulty}" th:text="${difficulty}"></option>
    </select>

    <button type="submit" th:if="${isEdit}">Dodaj</button>
    <button type="submit" th:unless="${isEdit}">Zapisz zmiany</button>
    <button onclick="window.location.href='/recipes/all'">
        Anuluj
    </button>
</form>

</body>
</html>