<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Recipe</title>
  <link rel="stylesheet" href="/css/recipe_template_styles.css">
</head>

<body>
<h1 th:text="${recipe.recipeName}"></h1>
<p><strong>Description:</strong> <span th:text="${recipe.recipeDescription}"></span></p>
<p><strong>Portions amount:</strong> <span th:text="${recipe.amountOfPortions}"></span></p>
<p><strong>Cooking time:</strong> <span th:text="${recipe.preparationTime}"></span> minut</p>
<p><strong>Difficulty:</strong> <span th:text="${recipe.difficulty.symbol}"></span></p>

<p><strong>Tags:</strong></p>
<p th:each="tag : ${recipe.recipeTags}" th:text="${tag.tagName}"></p>

<h1>Ingredients:</h1>

  <ul th:each="recipeIngredient : ${recipe.recipeIngredients}">
    <li th:text="${recipeIngredient.ingredient.ingredientName + ' - ' + recipeIngredient.quantity + recipeIngredient.ingredient.unit.symbol}"></li>
  </ul>

<br>
<button onclick="window.location.href='/recipes/all'">
  Zobacz wszystkie przepisy
</button>
</body>
</html>
