<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Recipe</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

</head>

<body>
<input type="hidden" id="recipeId" th:value="${recipe.id}">
<h1 th:text="${recipe.recipeName}"></h1>
<p><strong>Description:</strong> <span th:text="${recipe.recipeDescription}"></span></p>

<p><strong>Avg rating: </strong> <span th:text="${recipe.avgRating}"></span>
<span th:with="ratingVal=${recipe.avgRating}">
    <span th:each="i : ${#numbers.sequence(1, 5)}">
      <i th:if="${i <= ratingVal}" class="fa-solid fa-star star"></i>
      <i th:if="${i > ratingVal && i - 0.5 != ratingVal}" class="fa-regular fa-star star-empty"></i>
    </span>
  </span>
</p>

<p><strong>Portions amount:</strong> <span th:text="${recipe.amountOfPortions}"></span></p>
<p><strong>Cooking time:</strong> <span th:text="${recipe.preparationTime}"></span> minut</p>
<p><strong>Difficulty:</strong> <span th:text="${recipe.difficulty.symbol}"></span></p>

<p><strong>Tags:</strong></p>
<p th:each="tag : ${recipe.recipeTags}" th:text="${tag.tagName}"></p>

<h1>Ingredients:</h1>

  <ul th:each="recipeIngredient : ${recipe.recipeIngredients}">
    <li th:text="${recipeIngredient.ingredient.ingredientName + ' - ' + recipeIngredient.quantity + recipeIngredient.ingredient.unit.symbol}"></li>
  </ul>
<br>
<button th:attr="onclick='window.location.href=\'/opinions/recipe/' + ${recipe.id} + '\''">
  Opinie
</button>
<button th:attr="onclick='window.location.href=\'/opinions/add/' + ${recipe.id} + '\''">
  Dodaj opinie
</button>
<br>
<button th:attr="onclick='window.location.href=\'/recipes/update/' + ${recipe.id} + '\''">
  Edytuj przepis
</button>

<button th:attr="onclick='if(confirm(\'Are you sure you want to delete this recipe?\')) window.location.href=\'/recipes/delete/' + ${recipe.id} + '\''">
  Usuń przepis
</button>

<button onclick="window.location.href='/recipes/all'">
  Zobacz wszystkie przepisy
</button>

</body>
</html>
